{% extends "base.html" %}

{% block content %}
<div class="page-container">

    <!-- HEADER/ TITLE-->
     <div class="header-section">
        <h1 class="title">Earn UGX 100 Per Tenant! </h1>
        <p class="subtitle">Help us grow by adding pipeline tenants from all over Uganda.</p>
     </div>

     <!-- EARNINGS DASHBOARD -->

     {% if tenants_added > 0 %}
     <div class="card earnings-card">
        <div class="earnings-grid">
            <div class="earnings-box">
                <p></p>
            </div>
        </div>
     </div>
</div>