{% extends "base.html" %}

{% block content %}
<div class="page-container">

    <!-- HEADER/ TITLE-->
     <div class="header-section">
        <h1 class="title">Earn UGX 100 Per Tenant! </h1>
        <p class="subtitle">Help us grow by adding pipeline tenants from all over Uganda.</p>
     </div>

     <!-- EARNINGS DASHBOARD -->

     {% if tenants_added > 0 %}
     <div class="card earnings-card">
        <div class="earnings-grid">
            <div class="earnings-box">
                <p class="label">Tenants Added</p>
                <p class="value">{{ tenants_added }}</p>
            </div>
            <div class="earnings-box">
                <p class="label">Total Earned (UGX)</p>
                <P class="value">{{ total_earned }}</P>
            </div>
        </div>
     </div>
     {% endif %}

     <!-- FORM CARD -->
     <div class="card form-card">

        <h2 class="form-title">Add Pipeline Tenant</h2>
        <p class="form-desc"></p>
     </div> 
</div>